@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap&family=Zilla+Slab');

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.main-header {
  font-size: 2em;
  padding-block: 1.25em 0.5em;
  font-weight: 700;
  font-family: "Zilla Slab", serif;
}

.container {
  background-color: #282c34;
  font-size: 2em;
  color: #fff;
  padding-bottom: 3em;
}

.nav-text {
  font-size: 1.25em;
  font-weight: bolder;
  transition: 200ms ease-in-out;
  position: relative;
  transform-origin: right;
  font-family: "Zilla Slab", serif;
}

.nav-text::after {
  content: '';
  position: absolute;
  bottom: 14px;
  left: 10%;
  transform: scaleX(0);
  background-color: green;
  width: 80%;
  height: 3px;
  transform-origin: left;
  transition: 250ms ease-in-out;
}
.nav-text:hover {
  cursor: pointer;
  color: purple;
  transform: scale(1.125);
  transition: 200ms ease-in-out;
}

.nav-text:hover::after {
  transform: scaleX(1);
  transition: 200ms ease-in-out;
}

.mantineTable {
  max-width: 50vw;
  margin-inline: auto;
  border: 5px solid #fff;
  border-collapse: collapse;
  line-height: unset;
}

th,
tr,
td {
  border: 3px solid green;
}

thead tr th {
  background-color: purple;
  color: #fff !important;
  text-align: center !important;
  font-size: 32px !important;
  font-family: "Zilla Slab", serif;
}

tbody tr td {
  font-size: 26px !important;
  font-family: "Roboto", sans-serif;
}

/*2n = every other, +2= "starting with the 2nd" */
tbody tr:nth-child(2n + 2) {
  color: #fff !important;
}
