.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.container {
  background-color: #282c34;
  font-size: 2em;
  color: #fff;
}

table {
  border-collapse: collapse;
  margin-inline: auto;
}

table,
th,
td {
  border: 3px solid #ffffff;
}

th {
  background-color: #ff00ff50;
}

th,
td {
  padding: 5px 12px;
}

td:not(:last-of-type) {
  background-color: #ffff4d;
  color: #000;
}

td:last-of-type {
  background-color: #00800052;
}
